LUMEPIC_PHOTOGRAPHER_TOKEN=your_photographer_token_here
LUMEPIC_PHOTOGRAPHER_LABEL=Fotografo 1
LUMEPIC_PHOTOGRAPHER_TOKEN_2=second_photographer_token_here
LUMEPIC_PHOTOGRAPHER_LABEL_2=Fotografo 2
LUMEPIC_API_BASE_URL=https://api.lumepic.com
